# Node
node_modules/
dist/
build/
.next/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backend
backend/uploads/
backend/faiss_index/

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
